img {
    width: 150%;
    height: auto;
}
h1{
    color: #ffffff;
    font-weight: bold;
    padding-left: 50px;
}
p {
    color: #ffffff;
    padding-left: 50px;
}
a{
    background-color: #E50914;
    color: #ffffff;
    padding-left: 10px;
    text-decoration: none;
}
a:hover{
    background-color: #E50914;
    color: #ffffff;
    border: 2px solid #ffffff;
}